@font-face {
   font-family: "Poor Richard";
   src: url("fonts/Poor Richard.woff") format("woff"), url("fonts/Poor Richard.eot") format("embedded-opentype"), url("fonts/Poor Richard.TTF") format("truetype"), url("fonts/Poor Richard.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}